{% extends 'base.html' %}
{% block content %}





<div class="row justify-content-center mt-5">
    <div class="col-md-4">
      
        <div class="card" style="width: 18rem;">
            <div class="card-header">
              Featured
            </div>
            <ul class="list-group list-group-flush" >
                <a href="{% url 'src:seller-dashboard'%}">
                <li class="list-group-item" id="dash_ul">  Added Yacht</li>
                </a>
                
                <a href="{% url 'src:add-yacht'%}">
                <li class="list-group-item" id="dash_ul">  Add Yacht </li>
                </a>

                <a href="{% url 'src:booked-yacht'%}">
                  <li class="list-group-item" id="dash_ul">  Booked Yacht </li>
                </a>

            </ul>
          </div>
        
    </div>
    
    <div class="col-md-8 mb-5">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            
            {% for i in books %}
            
            <div class="col">
              <div class="card">
                <img src="{{i.yacht_details_id.yacht_image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  
                  <h5 class="card-title">Rent Price : {{i.price}}</h5>
                  <h5 class="card-title">Rent Weeks : {{i.rent_weeks}}</h5>
                  <h5 class="card-title">Customer Name: {{i.customer_id.name}}</h5>                  
                  <h5 class="card-title">Customer Email: <span class="text-primary-bg"> 
                    {{i.customer_id.user.username}}
                  </span> </h5>                  
                </div>
              </div>
            </div>
           {% empty %}
            No Booked Yacht Yet
           {% endfor %}
          
          </div>
    </div>
</div>




{% endblock %}