{% extends 'base.html' %}
{% block content %}


<div class="row justify-content-center mt-5">
    <div class="col-md-5 shadow p-3 mb-5">
        <form method="POST">
            {% csrf_token %}
            <h5 class="text-center">Seller Registration</h5>
            <hr>     
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Name</label>
                <input type="text" name="name" class="form-control" id="exampleInputPassword1">
              </div>
              
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="password1" class="form-control" id="exampleInputPassword1">
            </div>
            
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                <input type="password" name="password2" class="form-control" id="exampleInputPassword1">
            </div>        
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
    </div>
</div>




{% endblock %}